/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
/********* COLOUR VARIABLES *********/
:root{
    --mainBG: #FFFFFF;
    --secondaryBG: #FF6400;
    --pauseBG: #9A582C;
    --gameBG: #A7796A;
    --titleCol: #3046CF;
    --labelCol: #FF9154;
    --infoCol: #FAA75D;
    --bgOpp: #000000;
}
body{
    background-color: var(--mainBG);
}
/********* NAVBAR *********/
.navbarMain{
    height: 30px;
}
.navbarLeft {
    display: flex;
    position: absolute;
}
.navbarLeft{
    margin-left: 50px;
}
.page{
    margin: 5px;
    margin-top: 12px;
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: var(--infoCol)
}
.current{
    margin: 10px;
    font-size: 30px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: var(--bgOpp);
}

.page:hover, .current:hover{
    text-decoration: underline dashed;
    text-decoration-color: var(--labelCol);
    color: var(--labelCol);    
}

/********* INTRO *********/
.introText{
    animation: fadein 5s;
}
.brought{
    animation: fadein 5s;
    margin-top: -35px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 45px;
}
.njcodes{
    animation: fadein 15s;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 52px;
    margin-top: -20px;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }

/********* MAIN GAME COMPONENT *********/
.mainGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 90vh;
    height: 90vh; 
    margin: 10px;
    margin-bottom: 80px;
    border-radius: 50%;
    background-color: var(--secondaryBG);
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameTitle{
    font-family: 'Londrina Outline', cursive;
    font-size: 12vh;
    color: var(--titleCol);
    text-shadow: -3px 3px 1px black ;
    margin-top: -32%;
    position:relative;
    width: 100%;
}
.mainGamePetDiv{
    margin-top: -12vh;
    margin-bottom: 13vh;
}

.petInfo{
    text-transform: uppercase;
    font-family: 'Londrina Outline', cursive;
    letter-spacing: 2.5px;
    font-size: 5vh;
    color: var(--infoCol);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alive{
    text-transform: uppercase;
    font-family: 'Londrina Outline', cursive;
    letter-spacing: 2px;
    font-size: 3vh;
    color: var(--infoCol);
    display: flex;
    margin-top: -5%;
    flex-direction: column;
    align-items: center;
}
/********* OPTIONS *********/
.gameOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -50px;
    justify-content: center;
}
.firstField{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.firstField fieldset{
    display:flex;
    flex-direction: row;
    align-items: space-between;
}
.firstField .checkBoxDiv{
    display:flex;
    flex-direction: column-reverse;
    align-items: center
}

.secondField{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fieldSet{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 180px;
    align-items: center;   
}
.legend{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.label{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    color: var(--labelCol);
}
.petName{
    margin: 20px 5px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--infoCol);
}
.submit{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    text-decoration: none;
    border-radius: 35%;
    box-shadow: 2px 2px 3px #000000 ;
    background-color: var(--titleCol);
    color: var(--mainBG);
    }
.submit:hover{
    text-shadow: 2px 2px 3px #000000 ;
    box-shadow: -2px -2px 3px #000000 inset;
    border-radius:45%;
    font-size: 40px;
    padding: 15px;
    color: var(--titleCol);
    background-color: var(--mainBG);
}
/********* PET COMPONENT *********/
.petDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 150%;
    margin-left: 18%;
    margin-top: -180px;
    margin-bottom: 1%;
    border-radius: 20%;
    background-color: var(--gameBG);
}
/********* STATS COMPONENT *********/
.statsDiv{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.stats{
    position: relative;
    width: 425px;
}
.statsField{
    display: flex;
    flex-direction: column;
    height: 80px;
    width:100%;
}
.statsLegend{
    width: 100px;
    margin-bottom: -10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--labelCol)
}
.progress{
    width: 200px;
}
.progressFill{
    max-width: 200px;
}
.hungerThirstDiv{
    display: flex;
    justify-content: flex-start;
}
.energyHappinessDiv{
    display: flex;
    justify-content: flex-start;
}

.statBtn{
    text-transform: uppercase;
}
.hover{
   display:none;
}
.hover:hover{
    display: flex;
    position: absolute;
}

/********* BUTTONS *********/
.buttonsDiv{
    display: flex;
    flex-direction: column;
    width:100%;
    position: relative;
}
.topBtns{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}
.petBtnDiv{
    margin-top: 10px;
}
.buttonsDiv{
    display: flex;
    align-self: center;
    justify-self: center;
}
.btnDiv{
    min-width: 100px;
}
.gameBtn{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 20px;
	color: var(--secondaryBG);
    background-color: var(--mainBG);
    text-decoration: none;
    border-radius: 35%;
    box-shadow: 2px 2px 3px #000000 ;
    background-color: var(--titleCol);
    color: var(--mainBG);
}
.gameBtn:hover{
    color: var(--titleCol);
    background-color: var(--mainBG);
}
/********* STOP WATCH *********/
.mainGameTimer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position:relative; */
}
.stop-watch {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    position: absolute;
    bottom:0;
}
.digits {
	font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 20px;
	color: var(--mainBG);
}
.mili-sec {
	color: var(--secondaryBG);
}
.Control-Buttons {
	margin: 20px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	margin-top: -180px;
	align-items: center;
    height: 50vh;
	justify-content: center;
}
.btn-grp {
	display: flex;
    justify-content: center;
}
.timerBtn {
	border-radius: 14px;
	display: flex;
	border: 2px solid var(--secondaryBG);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--mainBG);
}
.btn-one {
	background-color: var(--secondaryBG);
    display: flex;
    flex-direction: row;
}
.btn-two {
	background-color: var(--mainBG);
    display: flex;
    flex-direction: column;
    
}
.playBtn, .pauseBtn, .resetBtn{
    height:50px;
    width:50px;
    
}
.btn-start{
    margin-top: -165px;
}
.game-btns{
    margin-top: -165px;
    height: 50px;
}
.resetBtn:hover{
    rotate: -0.75turn;
    transition: rotate 1s;
}
.petImg{
    width:130px;
    height:130px;
    margin-top: 1px;
}
/********* PAUSE OVERLAY *********/
.pauseStats{
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    margin-bottom: 10px;
}
.pauseDigits {
	font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 50px;
	color: var(--mainBG);
    text-shadow: 2px 2px 3px #000000 ;
}
.pauseMili-sec {
	color: var(--bgOpp);
}
.newPause{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pauseStatsLegend{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
.pauseStatsField{
    display: flex;
    flex-direction: column;
    height: 80px;
    width:100%;
    margin-bottom: 20px;
}
.pauseLabel{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
    margin-bottom: -30px;
}
.thirstFig, .happinessFig, .hungerFig, .energyFig{
    margin-top: -1px;
    padding-top: 12px
}
.pauseDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vh;
    height: 80vh; 
    margin-top: 110px;
    border-radius: 50%;
    background-color: var(--infoCol);
    position: relative;
}
.pauseModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pauseTitle{
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 8vh;
    color: var(--secondaryBG);
    text-shadow: -3px 3px 1px var(--btntextcol);
    margin-top: -5%;
    position:relative;
    width: 100%;
}
.closeBtn{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.paused{
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 10vh;
    color: var(--btntextcol);
    text-shadow: -3px 3px 1px var(--btntextcol);
    margin-top: -5%;
    position:relative;
    width: 100%;
}
.pauseTimeText{
    font-size: 25px;
}
.pausePlaying{
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 5vh;
    color: var(--secondaryBG);
    text-shadow: -3px 3px 1px var(--btntextcol);
    margin-top: -5%;
    position:relative;
    width: 100%;
}
/********* FOOTER *********/
.footerDiv{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position:absolute;
    bottom: 0;
    z-index: 99;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
}
.footer{
    display: flex;
    margin-bottom: -6vh;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
}
.footerImgDiv{
    margin: 15px;
}
.footerLogo{
    width:80px;
    height: 80px;
}
.footerText{
    font-size: 1.5vh;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height: 2px;
    margin-top: 20px;
    color: var(--titlecol);
}
.github{
    text-decoration: none;
    color: var(--btntextcol);
}
.github:hover{
    text-decoration: none;  
    color: var(--labelCol);
}